/* Reseteo de CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*======================================
          Estilos para el Index
=======================================*/

/* Estilos generales */

body {
  margin: 0;
  padding: 0;
}

/* Estilos para el header */

header {
  background-color: #a5c1c5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav-container nav ul li {
  display: inline-block;
  margin: 0 10px;
}

/* Estilos para los párrafos */

p {
  white-space: pre-line;
}

/* Estilos para la sección de departamentos, servicios, actividades y ubicación */

.departamentos_servicios {
  display: flex;
  justify-content: center;
}

.tarjeta {
  width: 400px;
  text-align: center;
  margin: 0 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta__titulo {
  color: #333333;
  font-size: 28px;
  margin-bottom: 15px;
}

.tarjeta__subtitulo {
  color: #666666;
  font-size: 20px;
  margin-bottom: 15px;
}

.tarjeta__descripcion {
  color: #999999;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tarjeta__imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.tarjeta__boton {
  margin-top: auto;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tarjeta__boton:hover {
  background-color: #45a049;
}

.tarjeta__enlace {
  text-decoration: none;
  color: #ffffff;
}


/* Fondo principal */

.fondo-principal {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.fondo-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-fondo-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 50px;
}

/* Contenedor de cotización */

.cotizacion-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
}

/* Cotización */

.cotizacion {
  border: 2px solid aqua;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cotizacion h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.cotizacion input[type="date"],
.cotizacion select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.cotizacion button {
  width: 100%;
  padding: 10px;
  background-color: aqua;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/*======================================
          Estilos para el resultado.html
=======================================*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.resultado-container,
.contacto-container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resultado-container {
  margin-right: 20px;
}



/*======================================
      Estilos para el departamentos.html
=======================================*/

/* Imagenes 2 Ambientes */

.galeria-2amb {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  transform: scale(0.95);
}

.galeria-2amb img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.left-img-2amb {
  grid-column: span 1;
  grid-row: 1 / span 2;
}

.right-img-1-2amb {
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}


.right-img-2-2amb {
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}

.bottom-img-2amb {
  grid-column: span 2;
}

/* Imagenes 3 Ambientes */

.galeria-3amb {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  transform: scale(0.95);
}

.galeria-3amb img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.left-img-3amb {
  grid-column: span 1;
  grid-row: 1 / span 2;
}

.right-img-1-3amb {
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}

.right-img-2-3amb {
  grid-column: span 1;
  justify-self: center;
}

.bottom-img-3amb {
  grid-column: span 2;
}

/* Imagenes 4 Ambientes */

.galeria-4amb {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  transform: scale(0.95);
}

.galeria-4amb img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.left-img-4amb {
  grid-column: span 1;
  grid-row: 1 / span 2;
}

.right-img-1-4amb {
  grid-column: span 1;
}


.right-img-2-4amb {
  grid-column: span 1;
}

.bottom-img-4amb {
  grid-column: span 2;
}

/*======================================
        Estilos para el actividades.html
=======================================*/

/* Tarjetas Actividades */

.departamentos_servicios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tarjeta {
  width: 400px;
  text-align: center;
  margin: 0 20px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cccccc; /* Agregado: Borde de 1px sólido en color gris */
}

.tarjeta__titulo {
  color: #333333;
  font-size: 28px;
  margin-bottom: 15px;
}

.tarjeta__descripcion {
  color: #999999;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.tarjeta__imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.tarjeta__enlace {
  text-decoration: none;
  color: #ffffff;
}
