@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*=======================================================================
                Estilos para el acerca_del_complejo.html
=======================================================================*/
/* Estilos para el encabezado principal */
.titlo-acerca-del-complejo,
.titulo-galeria {
  text-align: center;
  margin-top: 40px;
}

.descripcion-acerca-del-complejo {
  max-width: 1000px;
  text-align: center;
  margin: 10px auto 0;
}

.imagen-complejo-1 {
  display: block;
  max-width: 25%;
  height: auto;
  margin: 20px auto;
}

/* Estilos para el carousel */
.carousel {
  max-width: 500px;
  margin: 0 auto;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
}

.preguntas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.preguntas-frecuentes {
  margin-top: 50px;
}

.titulo-preguntas-frecuentes {
  text-align: center;
  margin-bottom: 30px;
}

.lista-de-preguntas {
  width: 80%;
  margin: 0 auto 50px;
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.pregunta-especifica {
  margin-bottom: 0;
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  background-color: #f5f5f5;
}

.respuesta-pregunta {
  display: none;
  margin-top: 0;
  padding: 10px;
  background-color: #ffffff;
}

.respuesta-pregunta.visible {
  display: block;
}

/* Estilos para el acordeón */
.lista-de-preguntas.active {
  background-color: #ffffff;
}

/* Estilos para el botón "Cerrar" en la respuesta */
.cerrar-respuesta {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.todas-las-preguntas {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*=======================================================================
                    Estilos para actividades.html
=======================================================================*/
/* Fondo Actividades Costa del Este*/
.fondo-actividades {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.fondo-actividades img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-actividades-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulo-actividades {
  font-size: 100px;
}

.subtitulo-actividades {
  font-size: 75px;
}

.bienvenida-actividades {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: black;
  margin-top: 30px;
}

.descripcion-actividades {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  font-size: 18px;
  line-height: 1.5;
  color: #666666;
  margin-bottom: 30px;
}

/* Fondo Localidades Cercanas  */
.fondo-actividades {
  position: relative;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: 25px;
}

.fondo-actividades img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-actividades-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 50px;
  font-size: 50px;
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

div.card {
  background: #ffffff;
  display: inline-block;
  width: calc(50% - 20px);
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  margin: 10px;
  z-index: 1;
  margin-bottom: 50px;
}
div.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 20px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}

div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}

.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

.card__image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.card__image-fixed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*======================================================================= 
                    Estilos para el cotizacion.html
=======================================================================*/
/* Estilos del contenedor principal */
.fondo-principal-cotizacion {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Estilos de la imagen de fondo */
.fondo-principal-cotizacion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos del contenedor de la cotización */
.cotizacion-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos de la cotización */
.cotizacion {
  text-align: center;
}

.cotizacion h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.cotizacion input[type=date],
.cotizacion select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.cotizacion select {
  width: 150px;
}

.cotizacion button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*=======================================================================
                Estilos para el departamentos.html
=======================================================================*/
/* Titulos Departamentos */
.titulo-general-departamentos {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.titulo-departamentos {
  text-align: center;
  margin-top: 50px;
}

/* Botones Departamentos */
.botones-departamentos {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.botones-departamentos button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Imagenes 2 Ambientes */
.galeria-2amb {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  transform: scale(0.95);
}

.galeria-2amb img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.left-img-2amb {
  grid-column: span 1;
  grid-row: 1/span 2;
}

.right-img-1-2amb {
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}

.right-img-2-2amb {
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}

.bottom-img-2amb {
  grid-column: span 2;
}

/* Imagenes 3 Ambientes */
.galeria-3amb {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  transform: scale(0.95);
}

.galeria-3amb img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.left-img-3amb {
  grid-column: span 1;
  grid-row: 1/span 2;
}

.right-img-1-3amb {
  grid-column: span 1;
  align-self: center;
  justify-self: center;
}

.right-img-2-3amb {
  grid-column: span 1;
  justify-self: center;
}

.bottom-img-3amb {
  grid-column: span 2;
}

/* Imagenes 4 Ambientes */
.galeria-4amb {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  transform: scale(0.95);
}

.galeria-4amb img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.left-img-4amb {
  grid-column: span 1;
  grid-row: 1/span 2;
}

.right-img-1-4amb {
  grid-column: span 1;
}

.right-img-2-4amb {
  grid-column: span 1;
}

.bottom-img-4amb {
  grid-column: span 2;
}

.titulo-especificaciones {
  text-align: center;
  margin-top: 50px;
}

.tabla {
  margin: 0 auto;
  max-width: 2025px;
  padding: 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 12px;
  border: 1px solid black;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: #333;
  font-weight: bold;
}

.divider {
  position: relative;
}

.divider::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #ddd;
  transform: translateX(-50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*=======================================================================
                        Estilos para el Index
=======================================================================*/
/* Fondo principal */
.fondo-principal {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.fondo-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-fondo-principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 50px;
  font-size: 24px;
}

/* Conocer mas complejo */
.conocer-mas-complejo {
  max-width: 800px;
  text-align: center;
  margin: 50px auto 0;
}

.titulo-complejo {
  text-align: center;
}

.description-complejo {
  text-align: justify;
  text-align: center;
  padding: 0 20px;
}

.boton-complejo {
  margin-top: 20px;
  text-align: center;
}

.btn-complejo {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn-complejo:hover {
  background-color: #45a049;
}

/* Tarjeta departamentos y servicios */
.departamentos_servicios {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
  flex-wrap: wrap;
}

.departamento {
  width: 500px;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.departamento__titulo {
  color: #333333;
  font-size: 28px;
  margin-bottom: 15px;
}

.departamento__subtitulo {
  color: #666666;
  font-size: 20px;
  margin-bottom: 15px;
}

.departamento__descripcion {
  color: #999999;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.departamento__imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 15px;
}

.departamento__boton {
  margin-top: auto;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.departamento__boton:hover {
  background-color: #45a049;
}

.departamento__enlace {
  text-decoration: none;
  color: #ffffff;
}

/* Estilos para Donde Estamos */
.donde-estamos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  position: relative;
}

.img-donde-estamos {
  flex: 1;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.img-donde-estamos img {
  width: 1200px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.txt-donde-estamos {
  position: absolute;
  margin-bottom: -900px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 90%;
}

.txt-donde-estamos iframe {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  border: 0;
}

.txt-donde-estamos h3,
.txt-donde-estamos p {
  margin: 10px 0;
  text-align: center;
}

/* Estilos actividades */
.actividades {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-top: 300px;
  position: relative;
  margin-bottom: 100px;
}

.img-actividades {
  flex: 1;
  position: relative;
  text-align: center;
}

.img-actividades img {
  width: 1200px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 100px;
}

.txt-actividades {
  position: absolute;
  margin-bottom: -500px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 90%;
  text-align: center;
}

.txt-actividades h3,
.txt-actividades p {
  margin: 10px 0;
  text-align: center;
}

.txt-actividades .btn-conocer {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*======================================================================= 
                        Estilos para el servicios.html
=======================================================================*/
/* Estilos para las tarjetas de servicios */
.titulo-servicios {
  margin-top: 20px;
  text-align: center;
}

.tarjeta-servicios-container {
  margin-bottom: 40px;
}

.card-header-servicios {
  background-color: #4CAF50;
  color: #fff;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body-servicios {
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.card-body-servicios img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-body-servicios p {
  margin: 0;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.cards-servicios {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.cards-servicios:hover {
  transform: translateY(-5px);
}

.main-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Cambios para la posición de la imagen y descripción */
.tarjeta-servicios-container:nth-child(odd) .card-body-servicios {
  flex-direction: row-reverse;
}

.tarjeta-servicios-container:nth-child(odd) .card-body-servicios img {
  margin-left: 20px;
}

.tarjeta-servicios-container:nth-child(odd) .card-body-servicios p {
  text-align: right;
}

.tarjeta-servicios-container:nth-child(even) .card-body-servicios {
  flex-direction: row;
}

.tarjeta-servicios-container:nth-child(even) .card-body-servicios img {
  margin-right: 20px;
}

.tarjeta-servicios-container:nth-child(even) .card-body-servicios p {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*======================================================================= 
                        Estilos para el tarifas.html
=======================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn-complejo {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*=======================================================================
                        Estilos para el footer
=======================================================================*/
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-contact,
.footer-social,
.footer-links {
  margin-bottom: 20px;
}

.footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li a {
  color: #555;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*=======================================================================
                        Estilos para el Header
=======================================================================*/
/* Estilos para el Header en pantallas mayores */
header {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  transition: opacity 0.3s ease, transform 0.3s ease, top 0.3s ease;
  transform: none;
  overflow: hidden;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header.hidden {
  opacity: 0;
  transform: translateY(-100%);
  top: -100px;
}

.logo img {
  width: 120px;
  height: auto;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list li:first-child {
  margin-left: 0;
}

.nav-list li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #ffffff;
}

.nav-list li a:hover {
  background-color: #555555;
}

.nav-list li:first-child {
  margin-left: 0;
}

.menu-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-icon {
  display: none;
  outline: none;
  border: none;
  background: none;
}

/* Menu Desplegable */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-height: 100vh;
  background-color: #ffffff;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 999;
  overflow-y: auto;
  padding: 20px;
  text-align: center;
}

.sidebar.active {
  transform: translateX(0%);
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  margin-bottom: 20px;
  width: auto;
  padding: 0;
}

.sidebar-list li a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
  display: block;
  white-space: nowrap;
  padding: 5px 10px;
}

/* Estilos para los botones del header */
.nav-list li a,
.sidebar-list li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #ffffff;
}

.nav-list li a:hover,
.sidebar-list li a:hover {
  background-color: #555555;
}

/* Estilos para el botón de cierre */
.close-icon {
  font-size: 24px;
  outline: none;
  border: none;
  background: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: #ffffff;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.close-icon:hover {
  background-color: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* ---------------------------- Responsive ---------------------------- */
/* Header y Boton Hamburguesa */
@media screen and (max-width: 1100px) {
  .menu-icon-container {
    display: flex;
    align-items: center;
  }
  .menu-icon {
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
  }
  .nav-list {
    display: none;
  }
  .sidebar-list li a {
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  /* ================ index.html ================ */
  /* Donde Estamos y Actividades*/
  .txt-donde-estamos {
    margin-bottom: -70vh;
  }
  .txt-actividades {
    margin-top: -10vh;
  }
  .img-donde-estamos img,
  .img-actividades img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .donde-estamos-container {
    margin-bottom: 100px;
  }
  .actividades {
    margin-bottom: 300px;
  }
  .txt-donde-estamos {
    margin-top: -300px;
  }
  /* ================ acerca_del_complejo.html ================ */
  .descripcion-acerca-del-complejo {
    font-size: 16px;
    margin: 10px;
  }
  /* ================ servicios.html ================ */
  .main-servicios {
    display: grid;
    grid-template-columns: 1fr;
    /* Una columna en dispositivos móviles */
    gap: 20px;
  }
  .card-body-servicios {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 20px;
  }
  .card-body-servicios img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-items: center;
  }
  .card-body-servicios h2 {
    margin-top: 20px;
    text-align: center;
  }
  .card-body-servicios p {
    margin-top: 10px;
    text-align: center;
  }
  .tarjeta-servicios-container:nth-child(odd) .card-body-servicios {
    text-align: center;
    align-items: center;
  }
  .tarjeta-servicios-container:nth-child(odd) .card-body-servicios img {
    text-align: center;
    align-items: center;
  }
  .tarjeta-servicios-container:nth-child(odd) .card-body-servicios p {
    text-align: center;
    align-items: center;
  }
  .tarjeta-servicios-container:nth-child(even) .card-body-servicios {
    text-align: center;
    align-items: center;
  }
  .tarjeta-servicios-container:nth-child(even) .card-body-servicios img {
    text-align: center;
    align-items: center;
  }
  .tarjeta-servicios-container:nth-child(even) .card-body-servicios p {
    text-align: center;
    align-items: center;
  }
  /* ================ departamentos.html ================ */
  .carousel-departamentos .galeria-2amb,
  .carousel-departamentos .galeria-3amb,
  .carousel-departamentos .galeria-4amb {
    width: 100%;
    height: 100%;
  }
  .carousel-departamentos .slick-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .botones-departamentos {
    flex-direction: column;
    align-items: center;
  }
  .botones-departamentos button {
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
/* ================ actividades.html ================ */
/* Estilos para las tarjetas de actividades */
div.cards.cards-extra {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  div.cards:not(.cards-extra) {
    flex-wrap: wrap;
  }
  div.card:not(.cards-extra .card) {
    width: calc(33.33% - 20px);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  div.card:not(.cards-extra .card) {
    width: calc(50% - 20px);
  }
}
@media (max-width: 767px) {
  div.card:not(.cards-extra .card) {
    width: calc(100% - 20px);
  }
}
/* Estilos para titulo fondo actividades costa del este */
@media screen and (max-width: 768px) {
  .titulo-actividades {
    font-size: 50px;
  }
  .subtitulo-actividades {
    font-size: 50px;
  }
  /* Estilos para titulo fondo localidades cercanas */
  .texto-actividades-img {
    font-size: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
