// Reseteo de CSS 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

// // Colores
// $primary-color: #FF0000;
// $secondary-color: #00FF00;

// // Tamaños de fuente
// $font-size-small: 12px;
// $font-size-medium: 16px;
// $font-size-large: 20px;

// // Espacios entre elementos
// $spacing-small: 10px;
// $spacing-medium: 20px;
// $spacing-large: 30px;

// // Márgenes
// $margin-small: 5px;
// $margin-medium: 10px;
// $margin-large: 15px;

// Variables

// Definición de variables globales

/* Estilos globales adicionales */

/* Otros estilos globales que deseas incluir */

$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;

$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;

$darkGrey: #4f585e;