// Reseteo de CSS 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

// Colores
$primary-color: #FF0000;
$secondary-color: #00FF00;
$white: #ffffff;
$lightBG: #dce1df;
$salmon: #ff6666;
$teal: #0096a0;
$tealMid: #0ebac7;
$tealContrast: #33ffff;
$tealShade:	#007c85;
$darkGrey: #4f585e;

// Tamaños de fuente
$font-size-small: 50px;
$font-size-medium: 75px;
$font-size-large: 100px;

// Espacios entre elementos
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;

// Márgenes
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 15px;

