@import "./base";

// Importacion todos los archivos de la carpeta "pages"
@import './pages/acerca_del_complejo.scss';
@import './pages/actividades.scss';
@import './pages/cotizacion.scss';
@import './pages/departamentos.scss';
@import './pages/index.scss';
@import './pages/resultado.scss';
@import './pages/servicios.scss';

// Importacion todos los archivos de la carpeta "components"
@import './components/button.scss';
@import './components/footer.scss';
@import './components/header.scss';

@import './responsive.scss';


