@import "./base";

/* ---------------------------- Responsive ---------------------------- */

@media screen and (max-width: 1100px) {

    /* Header y Boton Hamburguesa */
    .menu-icon-container {
        display: flex;
        align-items: center;
    }

    .menu-icon {
        display: inline-block;
        font-size: 24px;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .sidebar-list li a {
        white-space: nowrap;
    }
}

@media screen and (max-width: 768px) {

    /* ================ index.html ================ */

    /* Donde Estamos y Actividades*/

    .txt-donde-estamos {
        margin-bottom: -70vh;
    }

    .txt-actividades {
        margin-top: -10vh;
    }

    .img-donde-estamos img,
    .img-actividades img {
        max-width: 500px;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .donde-estamos-container {
        margin-bottom: 100px;
    }

    .actividades {
        margin-bottom: 300px;
    }

    .txt-donde-estamos{
        margin-top: -300px;
    }

    /* ================ actividades.html ================ */
    
    .departamentos_servicios,
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tarjeta,
    .cards-localidades {
        width: 90%;
        max-width: 400px;
        margin: 10px;
    }

    .titulo-actividades {
        font-size: 24px;
    }

    .subtitulo-actividades {
        font-size: 36px;
    }

    .bienvenida-actividades {
        font-size: 18px;
    }

    .descripcion-actividades {
        max-width: 100%;
    }

    /* ================ acerca_del_complejo.html ================ */

    .descripcion-acerca-del-complejo {
        font-size: 16px;
        margin: 10px;
    }
    
    /* ================ servicios.html ================ */

    .main-servicios {
        display: grid;
        grid-template-columns: 1fr; /* Una columna en dispositivos móviles */
        gap: 20px;
    }
    
    .card-body-servicios {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        padding: 20px;
    }
    
    .card-body-servicios img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        align-items: center;
    }
    
    .card-body-servicios h2 {
        margin-top: 20px;
        text-align: center;
    }
    
    .card-body-servicios p {
        margin-top: 10px;
        text-align: center;
    }

    .tarjeta-servicios-container:nth-child(odd) .card-body-servicios {
        text-align: center;
        align-items: center;
    }

    .tarjeta-servicios-container:nth-child(odd) .card-body-servicios img {
        text-align: center;
        align-items: center;    
    }

    .tarjeta-servicios-container:nth-child(odd) .card-body-servicios p {
        text-align: center;
        align-items: center;    
    }

    .tarjeta-servicios-container:nth-child(even) .card-body-servicios {
        text-align: center;
        align-items: center;    
    }

    .tarjeta-servicios-container:nth-child(even) .card-body-servicios img {
        text-align: center;
        align-items: center;
    }

    .tarjeta-servicios-container:nth-child(even) .card-body-servicios p {
        text-align: center;
        align-items: center;
    }

    /* ================ cotizacion.html ================ */
    /* ================ resultado.html ================ */
    /* ================ departamentos.html ================ */

    .carousel-departamentos .galeria-2amb,
    .carousel-departamentos .galeria-3amb,
    .carousel-departamentos .galeria-4amb {
        width: 100%;
        height: 100%;
    }

    .carousel-departamentos .slick-slide img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    // Botones Departamentos
    .botones-departamentos {
        flex-direction: column;
        align-items: center;
    }
    
    .botones-departamentos button {
        width: 80%;
        font-size: 18px; 
        margin-bottom: 10px;
    }
    
}