@import "../_base";

/*=======================================================================
                Estilos para el acerca_del_complejo.html
=======================================================================*/

/* Estilos para el encabezado principal */
.titlo-acerca-del-complejo,
.titulo-galeria {
    text-align: center;
    margin-top: 40px;
}

.descripcion-acerca-del-complejo {
    max-width: 1000px;
    text-align: center;
    margin: 10px auto 0;
}

.imagen-complejo-1 {
    display: block;
    max-width: 25%;
    height: auto;
    margin: 20px auto;
}

/* Estilos para el carousel */
.carousel {
    max-width: 500px;
    margin: 0 auto;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
}

.preguntas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.preguntas-frecuentes {
    margin-top: 50px;
}

.titulo-preguntas-frecuentes {
    text-align: center;
    margin-bottom: 30px;
}

.lista-de-preguntas {
    width: 80%;
    margin: 0 auto 50px;
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.pregunta-especifica {
    margin-bottom: 0;
    cursor: pointer;
    font-size: 22px;
    padding: 10px;
    background-color: #f5f5f5;
}

.respuesta-pregunta {
    display: none;
    margin-top: 0;
    padding: 10px;
    background-color: #ffffff;
}

.respuesta-pregunta.visible {
    display: block;
}

/* Estilos para el acordeón */
.lista-de-preguntas.active {
    background-color: #ffffff;
}

/* Estilos para el botón "Cerrar" en la respuesta */
.cerrar-respuesta {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.todas-las-preguntas {
    padding: 0;
}
