@import "../_base";

/*======================================================================= 
                        Estilos para el servicios.html
=======================================================================*/

/* Estilos para las tarjetas de servicios */
.titulo-servicios {
    margin-top: 20px;
    text-align: center;
}

.tarjeta-servicios-container {
    margin-bottom: 40px;
}

.card-header-servicios {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body-servicios {
    display: flex;
    padding: 20px;
    text-align: center;
}

.card-body-servicios img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-body-servicios p {
    margin: 0;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.cards-servicios {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.cards-servicios:hover {
    transform: translateY(-5px);
}

.main-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

/* Cambios para la posición de la imagen y descripción */
.tarjeta-servicios-container:nth-child(odd) .card-body-servicios {
    flex-direction: row-reverse;
}

.tarjeta-servicios-container:nth-child(odd) .card-body-servicios img {
    margin-left: 20px;
}

.tarjeta-servicios-container:nth-child(odd) .card-body-servicios p {
    text-align: right;
}

.tarjeta-servicios-container:nth-child(even) .card-body-servicios {
    flex-direction: row;
}

.tarjeta-servicios-container:nth-child(even) .card-body-servicios img {
    margin-right: 20px;
}

.tarjeta-servicios-container:nth-child(even) .card-body-servicios p {
    text-align: left;
}