@import "../base";

/*=======================================================================
                        Estilos para el footer
=======================================================================*/

.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-contact,
.footer-social,
.footer-links {
    margin-bottom: 20px;
}

.footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 16px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer ul li a {
    color: #555;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #333;
}