@import "../base";


/*=======================================================================
                    Estilos para el icono de whatsapp
=======================================================================*/

/* Estilos del botón de WhatsApp fijo */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    text-align: center;
    z-index: 999;

}

.whatsapp-btn a {
    display: block;
    color: white;
    text-decoration: none;
}

/* Animación de aparición */
.appear-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.appear-animation.appeared {
    opacity: 1;
    transform: translateY(0);
}

.tarjeta-servicios-container {
    margin-bottom: 40px;
}

.card-header-servicios {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Animación de entrada desde el costado */
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Estilos del botón de WhatsApp fijo */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    text-align: center;
    z-index: 999;
    animation: slideInFromRight 1s;
}
